/* =========================
   HERO SECTION
========================= */
.hero-section {
  width: 100%;
  min-height: 710px;
  display: flex;
  align-items: center;
  
  background-color: var(--bg-layout);
  position: relative;
  overflow: hidden;
}

.hero-text-box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

.hero-logo {
  width: auto;
  max-width: 150px;
  height: auto;
}

.hero-context {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.hero-title {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 50px;
  line-height: 54px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #FFFFFF;
}

.hero-highlight {
  color: #C6AAC6; /* Figma highlight color */
}

.hero-subtext {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #8F618F; /* Figma subtext color */
  margin-top: 10px;
}

/* Hero image */
.hero-image-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.hero-image-box .hero-image {
  width: 90%; /* scales nicely */
  max-width: 805px;
  height: auto;
  position: relative;
}