@media (max-width: 1200px) {
  .hero-section {
    height: auto;
    padding: 80px 20px;
  }

  .hero-text-box,
  .hero-image-box,
  .hero-email-box {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
  }

  .email-content {
    margin: auto;
    align-items: center;
  }

  .email-form {
    flex-direction: column;
  }
}
