/* =========================
   TYPOGRAPHY VARIABLES
========================= */
:root {
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 900;

  --hero-context-size: 18px;
  --hero-context-line: 26px;

  --hero-title-size: 50px;
  --hero-title-line: 54px;

  --hero-subtext-size: 14px;
  --hero-subtext-line: 28px;

  --email-h2-size: 24px;
  --email-h2-line: 32px;

  --hero-title-size-sm: 32px;
  --hero-title-line-sm: 38px;
  --hero-context-size-sm: 16px;
  --hero-subtext-size-sm: 12px;

  --email-footer-size: 16px;
  --email-footer-line: 28px;
}

/* =========================
   HERO TYPOGRAPHY
========================= */
.hero-context {
  font-weight: var(--fw-bold);
  font-size: var(--hero-context-size);
  line-height: var(--hero-context-line);
}

.hero-title {
  font-weight: var(--fw-extra-bold);
  font-size: var(--hero-title-size);
  line-height: var(--hero-title-line);
}

.hero-highlight {
  color: #C6AAC6;
  padding: 0 4px;
}

.hero-subtext {
  font-weight: var(--fw-light);
  font-size: var(--hero-subtext-size);
  line-height: var(--hero-subtext-line);
  color: var(--accent-secondary);
}
/* =========================
   EMAIL FOOTER TYPOGRAPHY
========================= */

.email-footer-text {
  font-family: Gotham, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}

.email-footer-text span {
  font-family: Gotham, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
